<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">
	
	
	<!-- <bean id="address1" class="com.demo.model.Address">
		<property name="add_id" value="01"></property>
		<property name="street" value="Model_Coloy"></property>
		<property name="city" value="Pune"></property>
	</bean> -->
<!-- 	<bean id="user1" class="com.demo.model.User" autowire="byType">
		<property name="id" value="101"></property>
		<property name="name" value="Omkar"></property>
	</bean> -->
	
	<!-- <bean id="addr" class="com.demo.model.Address">
		<property name="add_id" value="01"></property>
		<property name="street" value="Model_Coloy"></property>
		<property name="city" value="Pune"></property>
	</bean>
		<bean id="user1" class="com.demo.model.User" autowire="byName">
		<property name="id" value="101"></property>
		<property name="name" value="Omkar"></property>
	</bean> -->
	
	<bean id="addr" class="com.demo.model.Address">
		<property name="add_id" value="01"></property>
		<property name="street" value="Model_Coloy"></property>
		<property name="city" value="Pune"></property>
	</bean>
		<bean id="user1" class="com.demo.model.User" autowire="constructor">
		<constructor-arg name="id" value="101"></constructor-arg>
		<constructor-arg name="name" value="Omkar"></constructor-arg>
	</bean>
</beans>